
__pycache__/
*.py[cod]
*$py.class


venv/
env/
.venv/


*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/


*/migrations/__pycache__/


.env
.env.*


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db


htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/


build/
dist/
*.egg-info/


celerybeat-schedule
celerybeat.pid

logs/

tokens.py